
@tailwind base;
@tailwind components;
@tailwind utilities;



.App{
    background-image: url('assets/images/gradient.jpg') ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    border-radius: 10px; /* Rounded corners */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Light border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  }
  
  .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  /* Styles for input fields and labels */
  .input-container {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .input-container label {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    font-size: 0.875rem;
    color: #666;
    transition: 0.3s ease all;
    pointer-events: none;
    background: transparent; /* Ensure background is the same as input container */
    padding: 0 0.25rem; /* Padding to prevent overlap */
    z-index: 1;
  }
  
  .input-container input,
  .input-container select {
    width: 100%;
    padding: 1rem;
    background: transparent;
    outline: none ;
    border: none ;
    font-size: 1rem;
    /* border-radius: 8px; */
    transition: border-color 0.3s ease, padding-top 0.3s ease, box-shadow 0.3s ease;
    border-bottom: 1px solid #c9c8c8;
  }
  
  .input-container input:focus,
  .input-container select:focus {
    border-bottom: 2px solid #0044ff;
  }
  
  .input-container input:focus + label,
  .input-container select:focus + label,
  .input-container input:not(:placeholder-shown) + label,
  .input-container select:not(:placeholder-shown) + label {
    font-size: 0.75rem; /* Reduce label size */
    color: #0044ff; /* Change label color on focus */
    transform: translateY(-1.5rem); /* Move label up */
  }
  
  /* Styles for button */
  .button {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #000034;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  
  /* Styles for priority circles */
  .priority-option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .priority-option input[type="radio"] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid #666;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }
  
  .priority-option input[type="radio"]:checked {
    border-color: transparent;
  }
  
  .priority-option input[type="radio"].low:checked {
    background-color: #ffeb3b;
  }
  
  .priority-option input[type="radio"].medium:checked {
    background-color: #00b445;
  }
  
  .priority-option input[type="radio"].high:checked {
    background-color: #f44336;
  }

  /* admin panel  */
/* src/AdminPanel.css */
.admin-panel {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .accordion-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .accordion-header {
    background-color: #f2f2f2;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .accordion-header h3 {
    margin: 0;
  }
  
  .actions {
    display: flex;
    gap: 10px;
  }
  
  .edit-button, .delete-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-button {
    background-color: #dc3545;
  }
  
  .accordion-content {
    display: none;
    padding: 10px;
    background-color: #ffffff;
  }
  
  .accordion-content.active {
    display: block;
  }
  
  .accordion-content p {
    margin: 5px 0;
  }
  

  
  .item-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .item {
    clip-path: inset(0 0 0 0);
    animation: shred 1s forwards;
  }
  
  /* Transition effect */
  .transition-fade {
    transition: opacity 1s ease-out;
  }
/* styles.css */
.shredding {
    animation: shred 1s forwards;
  }
  
  @keyframes shred {
    0% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
    50% {
      opacity: 0.5;
      transform: translateY(50px) scale(0.8);
    }
    100% {
      opacity: 0;
      transform: translateY(100px) scale(0.6);
    }
  }
    
  .item.shredding {
    animation: reduceWidth 1.7s ease-out 1;
  }
  
  @keyframes reduceWidth {
    0% {
      width: 250px;
      padding: 1rem;
    }
    80% {
      width: 250px;
      min-width: 250px;
      padding: 1rem;
      margin: 0 2rem 0 0;
    }
    100% {
      width: 0;
      min-width: 0;
      padding: 0;
      margin: 0;
    }
  }
  
  /* Add styles to handle shredding state */
  .item.shredding {
    background: transparent;
    box-shadow: none;
  }
  
  .item.shredding > .delete {
    opacity: 0;
  }